* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #e0f7fa;
}

.container {
    padding-top: 80px;
}

/* Navbar Stilleri */
.navbar {
    width: 100%;
    height: 60px;
    background: linear-gradient(to right, white, rgb(191, 222, 233));
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar .logo {
    display: inline-block;
    margin-left: 50px;
    margin-top: 17px;
}

.navbar .logo a {
    text-decoration: none;
    font-size: 25px;
    font-family: Arial;
    color: palevioletred;
}

.navbar ul {
    float: right;
    margin-right: 20px;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 12px;
    line-height: 55px;
}

.navbar ul li a {
    color: gray;
    text-decoration: none;
    font-size: 20px;
    padding: 6px 13px;
    font-family: Arial;
}

.navbar ul li a.active,
.navbar ul li a:hover {
    background: palevioletred;
    color: white;
    border-radius: 5px;
}

.content {
    max-width: 800px;
    margin: 100px auto;
    text-align: center;
}

h1 {
    font-size: 35px;
    color: gray;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

th {
    background-color: palevioletred;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}
